.my-bookmarks2 {
    position: absolute;
    top: 324px;
    left: 847px;
    font-size: var(--font-size-81xl);
    font-weight: 900;
    display: inline-block;
    width: 578px;
    height: 222px;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .image-2-icon2 {
    position: absolute;
    top: 66px;
    left: 0;
    width: 1070px;
    height: 490px;
    object-fit: cover;
  }
  .desktop-4-child,
  .desktop-4-item {
    position: absolute;
    top: 556px;
    left: 58px;
    max-height: 100%;
    width: 1250px;
  }
  .desktop-4-item {
    top: 1286px;
    left: 61px;
  }
  .desktop-4-child1,
  .desktop-4-child2,
  .desktop-4-inner {
    position: absolute;
    top: -191px;
    left: 1070px;
    border-radius: 50%;
    background-color: var(--color-lightsteelblue);
    width: 454px;
    height: 454px;
  }
  .desktop-4-child1,
  .desktop-4-child2 {
    top: 193px;
    background-color: var(--color-darkslateblue);
    width: 45px;
    height: 45px;
  }
  .desktop-4-child2 {
    top: 95px;
    left: 972px;
    background-color: var(--color-darkslategray);
    width: 98px;
    height: 98px;
  }
  .desktop-4-child3,
  .desktop-4-child4 {
    position: absolute;
    top: 999px;
    left: -102px;
    border-radius: 50%;
    background-color: var(--color-darkslateblue);
    width: 45px;
    height: 45px;
  }
  .desktop-4-child4 {
    top: 901px;
    left: -200px;
    background-color: var(--color-darkslategray);
    width: 98px;
    height: 98px;
  }
  .desktop-4-child5,
  .desktop-4-child6,
  .desktop-4-child7 {
    position: absolute;
    top: 1269.2px;
    left: 30.8px;
    border-radius: 50%;
    background-color: var(--color-lightsteelblue);
    width: 454px;
    height: 454px;
    transform: rotate(-111.15deg);
    transform-origin: 0 0;
  }
  .desktop-4-child6,
  .desktop-4-child7 {
    top: 1130.7px;
    left: 388.9px;
    background-color: var(--color-darkslateblue);
    width: 45px;
    height: 45px;
  }
  .desktop-4-child7 {
    top: 1257.4px;
    left: 332.9px;
    width: 98px;
    height: 98px;
  }
  .download-2-icon6,
  .group-child27 {
    position: absolute;
    top: 0;
    left: 0;
    height: 97.3px;
  }
  .group-child27 {
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslategray);
    width: 218px;
  }
  .download-2-icon6 {
    border-radius: var(--br-11xl) var(--br-6xs) var(--br-6xs) var(--br-11xl);
    width: 99.7px;
    object-fit: cover;
  }
  .chess4 {
    position: absolute;
    top: 31px;
    left: 108.6px;
    font-weight: 900;
    display: inline-block;
    width: 89px;
    height: 66px;
  }
  .rectangle-parent25,
  .spotify4 {
    position: absolute;
    top: 0;
    left: 254.4px;
    width: 218px;
    height: 97.3px;
  }
  .spotify4 {
    top: 31px;
    left: 109.1px;
    font-weight: 900;
    display: inline-block;
    width: 89px;
    height: 66px;
  }
  .rectangle-parent26,
  .youtube8 {
    position: absolute;
    top: 0;
    left: 508.9px;
    width: 218px;
    height: 97.3px;
  }
  .youtube8 {
    top: 31px;
    left: 109px;
    font-weight: 900;
    display: inline-block;
    width: 89px;
    height: 66px;
  }
  .rectangle-parent27,
  .youtube-studio2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 97.3px;
  }
  .youtube-studio2 {
    top: 16px;
    left: 108.7px;
    font-weight: 900;
    display: inline-block;
    width: 89px;
    height: 66px;
  }
  .aniwatch4,
  .rectangle-parent28 {
    position: absolute;
    top: 0;
    left: 763.3px;
    width: 218px;
    height: 97.3px;
  }
  .aniwatch4 {
    top: 31px;
    left: 109px;
    font-weight: 900;
    display: inline-block;
    width: 109px;
    height: 33px;
  }
  .rectangle-parent29 {
    position: absolute;
    top: 0;
    left: 1018px;
    width: 218px;
    height: 97.3px;
  }
  .monkeytype2,
  .rectangle-parent30,
  .rectangle-parent31 {
    position: absolute;
    top: 146px;
    left: 254.4px;
    width: 218px;
    height: 97.3px;
  }
  .monkeytype2,
  .rectangle-parent31 {
    left: 508.9px;
  }
  .monkeytype2 {
    top: 21px;
    left: 107px;
    font-weight: 900;
    display: inline-block;
    width: 89px;
    height: 66px;
  }
  .chatgpt4,
  .rectangle-parent32 {
    position: absolute;
    top: 146px;
    left: 0;
    width: 218px;
    height: 97.3px;
  }
  .chatgpt4 {
    top: 31px;
    left: 108.7px;
    font-weight: 900;
    display: inline-block;
    width: 89px;
    height: 66px;
  }
  .rectangle-parent33 {
    position: absolute;
    top: 146px;
    left: 763.3px;
    width: 218px;
    height: 97.3px;
  }
  .geeks-for-geeks2 {
    position: absolute;
    top: 23px;
    left: 109px;
    font-weight: 900;
    display: inline-block;
    width: 96px;
    height: 85px;
  }
  .rectangle-parent34 {
    position: absolute;
    top: 146px;
    left: 1018px;
    width: 218px;
    height: 108px;
    font-size: var(--font-size-3xl);
  }
  .i-love-pdf2 {
    position: absolute;
    top: 16px;
    left: 108.6px;
    font-weight: 900;
    display: inline-block;
    width: 89px;
    height: 66px;
  }
  .leetcode2,
  .rectangle-parent35 {
    position: absolute;
    top: 293px;
    left: 254.4px;
    width: 218px;
    height: 97.3px;
  }
  .leetcode2 {
    top: 32px;
    left: 109.1px;
    font-weight: 900;
    display: inline-block;
    width: 109px;
    height: 43px;
  }
  .humataai2,
  .rectangle-parent36 {
    position: absolute;
    top: 293px;
    left: 508.9px;
    width: 218.1px;
    height: 97.3px;
  }
  .humataai2 {
    top: 16px;
    left: 107px;
    font-weight: 900;
    display: inline-block;
    width: 89px;
    height: 66px;
  }
  .rectangle-parent37 {
    position: absolute;
    top: 293px;
    left: 0;
    width: 218px;
    height: 97.3px;
  }
  .group-parent1,
  .rectangle-parent38,
  .rectangle-parent39 {
    position: absolute;
    top: 293px;
    left: 763.3px;
    width: 218px;
    height: 97.3px;
  }
  .group-parent1,
  .rectangle-parent39 {
    left: 1018px;
  }
  .group-parent1 {
    top: 632px;
    left: 102px;
    width: 1236px;
    height: 390.3px;
  }
  .desktop-4-child10,
  .desktop-4-child11,
  .desktop-4-child8,
  .desktop-4-child9 {
    position: absolute;
    top: 1340px;
    left: 518px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    object-fit: cover;
  }
  .desktop-4-child10,
  .desktop-4-child11,
  .desktop-4-child9 {
    left: 630px;
  }
  .desktop-4-child10,
  .desktop-4-child11 {
    left: 742px;
  }
  .desktop-4-child11 {
    left: 854px;
  }
  .desktop-4-child12 {
    position: absolute;
    top: 1478px;
    left: 122px;
    border-radius: var(--br-29xl);
    background-color: var(--color-lightsteelblue);
    width: 1196px;
    height: 552px;
  }
  .space-to-write2 {
    position: absolute;
    top: 1502px;
    left: 278px;
    font-weight: 900;
    color: var(--color-black);
    display: inline-block;
    width: 231px;
    height: 62px;
  }
  .desktop-4-child13,
  .desktop-4-child14,
  .desktop-4-child15,
  .desktop-4-child16,
  .desktop-4-child17 {
    position: absolute;
    top: 25px;
    left: 55px;
    border-radius: var(--br-6xl);
    background-color: var(--color-lightsteelblue);
    width: 602px;
    height: 56px;
  }
  .desktop-4-child14,
  .desktop-4-child15,
  .desktop-4-child16,
  .desktop-4-child17 {
    top: 89px;
    left: 63px;
    width: 193px;
    height: 10px;
  }
  .desktop-4-child15,
  .desktop-4-child16,
  .desktop-4-child17 {
    left: 403px;
    background-color: var(--color-darkslateblue);
  }
  .desktop-4-child16,
  .desktop-4-child17 {
    left: 271px;
    background-color: var(--color-lightsteelblue);
    width: 66px;
  }
  .desktop-4-child17 {
    left: 346px;
    background-color: var(--color-darkslategray);
    width: 38px;
  }
  .my-bookmarks-by2 {
    position: absolute;
    top: 35px;
    left: 115px;
    font-size: var(--font-size-13xl);
    font-weight: 900;
    color: var(--color-black);
    display: inline-block;
    width: 481px;
    height: 59px;
  }
  .desktop-4-child18,
  .desktop-4-child19 {
    position: absolute;
    top: 29px;
    left: 663px;
    border-radius: 50%;
    background-color: var(--color-lightsteelblue);
    width: 24px;
    height: 24px;
  }
  .desktop-4-child19 {
    top: 28px;
    left: 693px;
    width: 13px;
    height: 13px;
  }
  .desktop-4-child20,
  .desktop-4-child21 {
    position: absolute;
    border-radius: var(--br-25xl);
  }
  .desktop-4-child20 {
    top: -83px;
    left: -8px;
    background-color: rgba(0, 0, 0, 0.3);
    filter: blur(4px);
    width: 1448px;
    height: 2428px;
  }
  .desktop-4-child21 {
    border: 0;
    background-color: var(--color-lightsteelblue);
    outline: 0;
    top: 445px;
    left: 490px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1000px);
    width: 784px;
    height: 824px;
  }
  .my-self-swayam {
    margin: 0;
  }
  .my-self-swayam-container {
    position: absolute;
    top: 480px;
    left: 537px;
    font-size: var(--font-size-13xl);
    font-weight: 900;
    color: var(--color-black);
    display: inline-block;
    width: 692px;
    height: 743px;
  }
  .frame-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-41xl);
    background-color: var(--color-darkslategray);
    width: 167px;
    height: 43px;
  }
  .back1 {
    position: absolute;
    top: 5px;
    left: 41px;
    font-weight: 900;
    display: inline-block;
    width: 81px;
    height: 30px;
  }
  .rectangle-parent40 {
    text-decoration: none;
    position: absolute;
    top: 101px;
    left: 1158px;
    width: 167px;
    height: 43px;
    color: inherit;
  }
  .desktop-4 {
    width: 100%;
    position: relative;
    background-color: var(--color-black);
    height: 2298px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-geometr415-blk-bt);
  }
  